body {
  margin: auto;
  font-family: "Lucida Console", "Courier New", monospace;
  background-color: #fffaf0;
  text-align: center;
  font-size: 18px; 
}

#title {
  color: #8b0000;
  text-align: center;
  font-size: 36px; 
  line-height: normal;
}

.img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 150px;
  height: 150px;
  border-radius: 60%;
}

.img:hover {
  transform: scale(1.2);
}

#planets,
#planets th,
#planets td {
  color: #a52a2a;
  border: 4px solid;
  width: 80%;
  margin: auto;
  border-collapse: collapse;
  text-align: center;
  vertical-align: middle;
  font-size: 20px; 
}

#planets th {
  text-decoration: underline;
  text-decoration-color: #deb887;
  text-decoration-thickness: 2px;
  background-color: #f4a460;
}

#planets td {
  background-color: #ffe4b5;
}

#planets th:hover {
  background-color: #ff6347;
}

#planets td:hover {
  background-color: #ffa07a;
}

#planets img {
  width: 150px; \
  height: auto;
}
